# Datatypes in Python :

In [3]:
# A datatype tells what kind of value a variable holds.
# Python provied a variety of built in data types that allow you to and manipulate different kinds of adta.

# 1. Numbers :
    # Python supports various numeric data types , including integers , floating point numbers and complex numbers.
    # These datatypes are also perform arithmatic operations i.e. addition , substraction , multiplication , division.4

In [6]:
# For Example ,

# Integer :

x = 5
y = 10
z = x+y
print(z)

15

In [8]:
# Floating point number :

x = 5.7
y = 3.6
z = x+y
print(z)

9.3

In [10]:
# Complex number :

c = 2 + 3j
d = 1 - 2j
e = c * d
print(e)

(8-1j)

In [12]:
# Arithmatic Operations :

a = 3
b = 5
print("Addition :", a + b)
print("Substraction :", a - b)
print("Multiplication :", a * b)
print("Division :", a / b)

Addition : 8
Substraction : -2
Multiplication : 15
Division : 0.6

# 2. Strings :
    # Strings are used to represent textual data in Python.
    # Strings are enclosed in either single quotes('') , double quotes("") or tripple quotes('''''').

In [23]:
String = 'This is a String.'
print(String)

This is a String.

In [15]:
# For example ,

# Single quotes :
Single = 'This is single quote example.'
print(Single)

# Double quotes :
Double = "This is double quote example."
print(Double)

# Triple quotes :
Triple = '''This is triple quote example.'''
print(Triple)

This is single quote example.
This is double quote example.
This is triple quote example.

In [17]:
# Concatination in Strings :

FName = "Payal"
LName = "Kulkarni"
FullName = FName +" " +LName
print(FullName)

Payal Kulkarni

In [19]:
# Slicing a String :

Name = "Sayali Khedkar"
print(Name[5:])
print(Name[:4])
print(Name[:])

i Khedkar
Saya
Sayali Khedkar

In [21]:
# String Formatting :

Age = 25
print("I am {} years old.".format(Age))

I am 25 years old.